@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,450;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,450;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(30, 5, 30);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav1 {
    font-family: poppins;
    font-size: 13px;
    padding: 15px 0px 0px 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav1 li:hover {
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    color: rgb(30, 5, 30);
    cursor: pointer;
    transition: ease-in-out .1s;
}

.nav1 .div1 {
    display: flex;
    gap: 25px;
    padding-bottom: 15px;
}

.line{
    width: 100%;
    border: 1px solid rgb(80, 5, 80);
}

.nav2 {
    list-style: none;
    display: flex;
    font-size: large;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
}

.nav2 .n2d1 {
    display: flex;
    gap: 25px;
    align-items: center;
}

.n2d1 li:hover {
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    color: rgb(30, 5, 30);
    cursor: pointer;
    transition: ease-in-out .1s;
}

.nav2 .n2d1 img {
    margin: 0px;
    padding: 0px 10px;
    width: 110px;
}

.n2d2 li img:hover {
    background-color: white;
}

.nav2 .n2d2 {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;
}

.n2d2 li:hover {
    transition: ease-in-out .1s;
}

.n2d2 li:nth-child(3):hover {
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to left, #33ccff 0%, #9933ff 100%);
    color: white;
    color: rgb(30, 5, 30);
    font-weight: 600;
}

.n2d2 li:nth-child(3) {
    border: 2px solid transparent;
    border-radius: 5px;
    border-image: linear-gradient(to left, #33ccff 0%, #9933ff 100%);
    border-image-slice: 1;
    padding: 2px;
    width: 75px;
    text-align: center;
    font-weight: 600;
}

.nav2 .n2d2 img {
    margin-top: 10px;
    padding: 8px;
    background-color: rgb(45, 0, 45);
    height: 20px;
    width: 20px;
    border: 1px solid rgb(45, 0, 45);
    border-radius: 20px;
}

.wefeelit {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.wefeelit img {
    border-radius: 10px;
}

.wefeelit img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

.m1s1 {
    display: flex;
    justify-content: center;
}

.m1d1 {
    z-index: 10px;
    font-weight: 600;
    padding: 20px;
    font-size: 40px;
    width: 85vw;
    justify-content: center;
    display: flex;
    border: 1px;
    border-radius: 15px;
    background: linear-gradient(to left, #33ccff 0%, #9933ff 100%);
}

.tablebar {
    list-style: none;
    gap: 45px;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.tablebar li {
    gap: 5px;
    display: flex;
    align-items: center;
}

.tablebar li:hover {
    background-color: rgb(45, 0, 45);
    color: rgb(220, 220, 220);
    cursor: pointer;
}

.tablebar li {
    border: 1px solid gray;
    padding: 3px 8px;
    border-radius: 5px;
}

.club1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.club img {
    object-fit: contain;
}

.c1d1 {
    width: 22vw;
    border: 2px solid rgb(60, 0, 60);
    border-radius: 10px;
}

.ars {
    border-radius: 10px;
}

.arsenal {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    font-size: large;
    font-weight: 600;
    background-color: rgb(45, 0, 45);
}

.arsenal div {
    background-color: rgb(45, 0, 45);
    border-radius: 10px;
}

.arsenal img {
    background-color: rgb(200, 0, 0);
    border-radius: 10px;
    padding: 5px;
}

.button {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    background-color: rgb(45, 0, 45);
    border-radius: 1;
    gap: 5px;
}

.button button {
    display: flex;
    border: 2px solid;
    border-radius: 15PX;
    padding: 5px 40px 5px 40px;
    align-items: center;
}

.button button:hover {
    padding: 5px 40px 5px 40px;
    border-radius: 15px;
    background: linear-gradient(to left, #33ccff 0%, #9933ff 100%);
    color: white;
    color: rgb(30, 5, 30);
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}
table{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    background-color: rgb(60, 0, 60);
}
thead th{
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}
table tbody{
    text-align: center;
}
table tbody td{
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
}
.clublist{
    background-color: rgb(45, 0, 45);
    margin-top: 10px;
    margin-bottom: 50px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 1px;
}
.clublist table{
    border-radius: 10px;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.clublist thead{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.clublist tr{
    margin-top: 10px;
    border-bottom: 1px solid rgb(80, 5, 80);
}
.clublist td{
    text-align: left;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: rgb(45, 0, 45);
}
.clublist td:first-child img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.clublist tbody tr td:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
}
.clublist tbody tr td:first-child img{
    padding: 5px;
}
.clublist tbody tr td:nth-child(3){
    padding-right: 50px;
}
.stad img{
    width: 25px;
    background: none;
}
.stad{
    display: flex;
    padding-left: 250px;
    background-color: rgb(45, 0, 45);
    align-items: center;
    gap: 10px;
}
.brack{
 border: 1px solid white;
 color: rgb(30, 5, 30);
 font-weight: 500;
 background-color: white;
 border-radius: 5px;
 padding: 2px;
 display: flex;
 justify-content: center;
}
.brack:hover{
    cursor: pointer;
    border: 2px solid rgb(45, 0, 45);
    background: linear-gradient(to left, #33ccff 0%, #9933ff 100%);
    transform: scale(1);
    transition: .2s ease-in-out;
    z-index: 2;
}
.spon {
    width: 90vw;
    font-weight: 200;
    background-color: rgb(45, 0, 45);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-bottom: 50px;

}

.spon img {
    background: none;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table{
    border-collapse: collapse;
}

.spon tbody td {
    font-weight: 300;
}

#id img {
    width: 200px;
}

.foot1 {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-weight: 100;
    width: 90vw;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.foot1 td {
    padding: 20px 0px 20px 0px;
    font-weight: 600;
    background-color: rgb(30, 5, 30);
    border-right: 1px solid rgb(80, 5, 80);
}

.foot1 td:last-child {
    border-right: none;
}
.foot1 td:hover{
    cursor: pointer;
 background-color: rgb(80, 5, 80);
}
.f2d1 li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(150, 30, 150)
}
.foot2 {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    font-size: 12px;
    align-items: center;
    padding-bottom: 10px;
}

.foot2 div {
    display: flex;
    gap: 20px;
    padding: 0px 0px 0px 10px;
    text-align: center;
}

.f2d2 li {
    padding: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
}